.custom-navbar {
  min-height: 48px;
  padding: 0;
}
.custom-container {
  padding: 0.25rem;
}
.subtitle {
  font-size: 0.85rem;
  line-height: 1.2;
}
.custom-navbar .dropdown-toggle {
  padding: 0.25rem 0.5rem;
}